
  <div class="widget-wrap">
    <h3 class="widget-title">友链</h3>

    <div class="widget">
      <ul class="archive-list">
				<li class="archive-list-item"><a class="archive-list-link" href="https://imkindu.com/" target="_blank" title="Imkindu Home Page">imkindu.com</a></li>
				<li class="archive-list-item"><a class="archive-list-link" href="http://blog.imkindu.com/" target="_blank" title="Imkindu Blog">imkindu blog</a></li>
				<li class="archive-list-item"><a class="archive-list-link" href="https://longlizl.github.io/" target="_blank" title="LongLi Blog">longli blog</a></li>
				<li class="archive-list-item"><a class="archive-list-link" href="https://didadandan.github.io" target="_blank" title="DidaDandan Blog">didadandan blog</a></li>
			</ul>
    </div>
  </div>

